.ace-admin-edit_profile-picture-main_container img {
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
}
.ace-admin-edit_profile-picture-main_container {
  padding: 2.8rem 0;
  position: relative;
}
.ace-admin-edit_profile-picture-icon_container img {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  cursor: pointer;
}
