.ace-forgetPasswordEmail-iunput-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ace-forgetPasswordEmail-iunput-container h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 3.65217rem;
  line-height: 42px;
  /* identical to box height */
  color: var(--color-white);
  text-align: center;
  text-transform: capitalize;
  margin: 8.5rem 0 1.8rem 0;
}

.ace-forgetPasswordEmail-iunput-container,
.ace-forgetPasswordEmail-iunput-container-para {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 16px;
  color: #92979d;
  margin: 2.4rem 0 1.8rem 0;
}
.ace-forgetPasswordEmail-iunput-container
  .ace-forgetPasswordEmail-iunput-link
  p
  a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13.6957px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;

  color: #b7c6d9;
}

.ace-forgetPasswordEmail-iunput-container .ace-forgetPasswordEmail-iunput-link {
  margin: 7.3rem 0 8.6rem 0;
}
