.ace-admin-fiture-team-name-pic-left-comp-main_container {
  display: flex;
  /* width: 11.2rem; */
  align-items: center;
  justify-content: flex-end;
  width: 11rem;
}

.ace-admin-fiture-team-name-pic-left-comp-main_container img {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 13px;
}

.ace-admin-fiture-team-name-pic-left-comp-main_container h2 {
  font-family: var(--font-family);
  color: #999fa9;
  font-size: 9.7px;
  font-weight: 500;
  margin-bottom: 0;
  padding-right: 4px;
}
